/********/
/* MAIN */
/********/
body {
  margin: 0;
  letter-spacing: 0.09rem;
  color:  var(--black);
  background-color: var(--white);
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --black: #333;
  --white: #f4f4f4;
  --red: #9c2823;
}
* {
  box-sizing: border-box;
}

/*************/
/* CONTAINER */
/*************/
.container {
  display: flex;
  flex-direction: column;
  max-width: 780px;
  min-height: 100vh;
  margin: auto;
}
.content {
  flex-grow: 1;
}
h1 {
  color: var(--red);
  font-weight: bold;
}
button {
  cursor: pointer;
  background-color: var(--white);
  height: 50px;
  width: 100px;
}

/*********/
/* TITLE */
/*********/
.wrapper-title {
 text-align: center;
}

/**********/
/* FOOTER */
/**********/
.wrapper-footer {
  text-align: center;
  margin: 1rem;
}
.logo-euroamb-footer {
  width: 200px;
  margin-right: 1rem;
}
.logo-itaf-footer {
  width: 70px;
}
.copyright-footer {
  margin: 1rem;
}

/*********/
/* TILES */
/*********/
.ul-content{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
.li-content{
  justify-items: center;
  align-items: center;
  border: 1px solid var(--black);
  border-radius: 1rem;
  background-color: white;
  width: 350px;
  height: 250px;
  margin: 1.5rem 1.5rem 0 0;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: 
  "image descrizione descrizione"
  "cer mc mc"
  "carico scarico info";
} 
.img-content {
  grid-area: image;
  border-radius: 1rem;
  }
.cer-content {
  grid-area: cer;
}
.mc-content {
  grid-area: mc;
  font-weight: bold;
  font-size: large;
}
.descrizione-content {
  grid-area: descrizione;
  text-transform: uppercase;
  text-align: center;
}
.carico-content {
  grid-area: carico;
}
.scarico-content {
  grid-area: scarico;
}
.info-content {
  grid-area: info;
}