/********/
/* MAIN */
/********/
:root {
  --black: #333;
  --white: #f4f4f4;
  --red: #9c2823;
  --green: #95dc98;
  --blue: #394a51;
  --lightgreen: #7fa99b;
  --sand: #fbf2d5;
  --coral: #fdc57b;
}
body {
  margin: 0;
  padding: 0;
  letter-spacing: 0.09rem;
  color: var(--blue);
  background: var(--sand);
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
}
h1 {
  color: var(--blue);
  font-weight: bold;
}
button {
  cursor: pointer;
  height: 50px;
  width: 80px;
  background-color: var(--white);
  outline: none;
  border: none;
  box-shadow: 3px 3px 5px -2px var(--black);
  transition: all 0.05s ease-in;
  border-radius: 0.5rem;
}
button:active {
  transform: translateY(1px);
  box-shadow: 1px 1px 2px -1px var(--black);
}

/*************/
/* CONTAINER */
/*************/
.container {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  min-height: 100vh;
  margin: auto;
}
.content {
  flex-grow: 1;
}

/*********/
/* TITLE */
/*********/
.wrapper-title {
  text-align: center;
}
.home-title {
  grid-area: home;
  margin: 1rem;
  background-color: var(--green);
  color: var(--blue);
}
.info-title {
  grid-area: info;
  margin: 1rem;
  background-color: var(--green);
  color: var(--blue);
}
.img-title {
  width: 300px;
}
.rif-title {
  border: 1px solid var(--blue);
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 200px;
  margin: 1rem auto;
  background-color: var(--blue);
  color: var(--sand);
  font-weight: bold;
  font-size: large;
}

/**********/
/* FOOTER */
/**********/
.wrapper-footer {
  text-align: center;
  margin: 1rem;
}
.logo-euroamb-footer {
  width: 200px;
  margin-right: 1rem;
}
.logo-itaf-footer {
  width: 70px;
}
.copyright-footer {
  margin: 1rem;
}

/************************/
/* TILES STYLE TEMPLATE */
/************************/
.li-content,
.wrapper-carico,
.wrapper-scarico {
  box-shadow: 5px 5px 15px -5px var(--black);
  justify-items: center;
  align-items: center;
  border-radius: 0.5rem;
  background-color: white;
  width: 300px;
  margin: 1rem;
  padding: 1rem;
  opacity: 0.7;
}
.li-content:hover {
  opacity: 1;
}

/***************************/
/* TILES HOME PAGE CONTENT */
/***************************/
.ul-content {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.li-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "image mc"
    "cer descrizione"
    "carico scarico";
}
.img-content {
  grid-area: image;
  border-radius: 1rem;
}
.cer-content {
  grid-area: cer;
  text-align: center;
}
.mc-content {
  grid-area: mc;
  font-weight: bold;
  font-size: large;
}
.descrizione-content {
  grid-area: descrizione;
  text-transform: uppercase;
  text-align: center;
}
.btn-carico-content {
  grid-area: carico;
}
.btn-scarico-content {
  grid-area: scarico;
}

/********************/
/* CARICO & SCARICO */
/********************/
.wrapper-carico,
.wrapper-scarico {
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 50px 50px auto;
  grid-template-areas:
    "title title"
    "cer descrizione"
    "rif mc"
    "input carico";
}
.title-carico,
.title-scarico {
  grid-area: title;
  font-size: large;
  font-weight: bold;
}
.cer-carico,
.cer-scarico {
  grid-area: cer;
}
.rif-carico,
.cer-scarico {
  grid-area: rif;
}
.mc-carico,
.mc-scarico {
  grid-area: mc;
}
.descrizione-carico,
.descrizione-scarico {
  grid-area: descrizione;
  text-transform: uppercase;
  text-align: center;
}
.wrapper-input-carico,
.filtered-scarico {
  grid-area: input;
  justify-self: flex-start;
}
.input-carico {
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  border: 2px dotted var(--black);
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 80px;
}
.btn-carico-carico,
.btn-carico-scarico {
  grid-area: carico;
  align-items: center;
}

/*******/
/* LOG */
/*******/
.wrapper-log,
.wrapper-filtered {
  font-style: italic;
}
.ul-log,
.ul-filtered {
  padding: 0.5rem;
  margin: auto;
}
.li-filtered {
  font-size: 0.8rem;
  list-style: none;
}
.li-log {
  position: relative;
  list-style: none;
  margin-top: 2rem;
  background-color: white;
}
.li-details {
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 15px -5px var(--black);
}
.li-rif {
  position: absolute;
  top: -20px;
  width: 70px;
  height: 30px;
  padding: 8px;
  font-weight: bold;
  background-color: var(--green);
  box-shadow: 5px 5px 10px -5px var(--black);
  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

/*********/
/* ERROR */
/*********/
.wrapper-error,
.error-carico {
  text-align: center;
}

/***********/
/* SPINNER */
/***********/
.spinner-container {
  display: grid;
  gap: 1rem;
  margin: 1rem;
  place-content: center;
}
.spinner {
  border: 10px solid var(--sand);
  border-top: 10px solid var(--blue);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
  justify-self: center;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
