/********/
/* MAIN */
/********/
body {
  margin: 0;
  letter-spacing: 0.09rem;
  color:  var(--black);
  background: var(--white);
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --black: #333;
  --white: #f4f4f4;
  --red: #9c2823;
  --green: #95DC98

}
* {
  box-sizing: border-box;
}

/*************/
/* CONTAINER */
/*************/
.container {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  min-height: 100vh;
  margin: auto;
}
.content {
  flex-grow: 1;
}
h1 {
  color: var(--red);
  font-weight: bold;
}
button {
  cursor: pointer;
  height: 50px;
  width: 80px;
  background-color: var(--white);
  outline: none;
  border: none;
  border-radius: 0.3rem;
  box-shadow: 3px 3px 5px -2px var(--black);
  transition: all 0.05s ease-in;
}
button:active {
  transform: translateY(1px);
  box-shadow: 1px 1px 2px -1px var(--black);
}

/*********/
/* TITLE */
/*********/
.wrapper-title {
  text-align: center;
}
.second-title {
  padding: 1rem;
}
.home-title {
  grid-area: home;
  margin: 1rem;
  background-color: var(--green);
  color: var(--red);
}
.info-title {
  grid-area: info;
  margin: 1rem;
  background-color: var(--green);
  color: var(--red);
}
.img-title {
  width: 300px;
}

/**********/
/* FOOTER */
/**********/
.wrapper-footer {
  text-align: center;
  margin: 1rem;
}
.logo-euroamb-footer {
  width: 200px;
  margin-right: 1rem;
}
.logo-itaf-footer {
  width: 70px;
}
.copyright-footer {
  margin: 1rem;
}

/************************/
/* TILES STYLE TEMPLATE */  
/************************/
.li-content, 
.wrapper-carico,
.wrapper-scarico {
  box-shadow: 5px 5px 15px -5px var(--black);
  justify-items: center;
  align-items: center;
  border-radius: 0.5rem;
  background-color: white;
  width: 300px;
  margin: 1rem;
  padding: 1rem;
}

/***************************/
/* TILES HOME PAGE CONTENT */
/***************************/
.ul-content{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
}
.li-content
{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: 
  "image mc"
  "cer descrizione"
  "carico scarico";
} 
.img-content {
  grid-area: image;
  border-radius: 1rem;
  }
.cer-content {
  grid-area: cer;
  text-align: center;
}
.mc-content {
  grid-area: mc;
  font-weight: bold;
  font-size: large;
}
.descrizione-content {
  grid-area: descrizione;
  text-transform: uppercase;
  text-align: center;
}
.carico-content {
  grid-area: carico;
}
.scarico-content {
  grid-area: scarico;
}

/*******************/
/* CARICO  SCARICO */
/*******************/
.wrapper-carico,
.wrapper-scarico {
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 50px 50px auto;
  grid-template-areas: 
  "title title"
  "cer descrizione"
  "rif mc"
  "input carico";
}
.title-carico,
.title-scarico{
  grid-area: title;
  font-size: large;
  font-weight: bold;
}
.cer-carico,
.cer-scarico {
  grid-area: cer;
}
.rif-carico,
.cer-scarico {
  grid-area: rif;
}
.mc-carico,
.mc-scarico {
  grid-area: mc;
}
.descrizione-carico,
.descrizione-scarico {
  grid-area: descrizione;
  text-transform: uppercase;
  text-align: center;
}
.wrapper-input-carico,
.log-scarico {
  grid-area: input;
  justify-self: flex-start;
}
.input-carico {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem; 
  border: 2px dotted var(--black);
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 80px;
}
.carico-carico,
.carico-scarico {
  grid-area: carico;
  align-items: center;
}

/*******/
/* LOG */
/*******/
.wrapper-log,
.wrapper-filtered {
  font-style: italic;
}
.ul-log,
.ul-filtered {
  padding: 0;
}

.li-log,
.li-filtered {
  list-style: none;
}
.li-filtered {
  font-size: 0.9rem;
}

/*********/
/* ERROR */
/******^^*/
.wrapper-error,
.error-carico {
  text-align: center;
}




